/*stylesheet*/

body {
	margin: 0;
	background-image: url(../images/clounds.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100, 500;

}

/*Page specific stuff*/
body.p1 {

}
/*-----------*/


header {
	margin: 0;
	background: lightgrey;
	color: black;
	font-family: 'Mukta', sans-serif;
	font-weight: 200, 300, 400, 500, 600, 700, 800;
}

h1, h2, h3, h4, h5, p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1 {
	font-family: 'Noto Serif JP', serif;
	font-weight: 500;
	text-align: center;
	color: rgba(128, 29, 66);
}

h2 {
	font-family: 'Noto Serif JP', serif;
	font-weight: 700;
	text-align: center;
}

p {
	font-family: Mukta;
	font-weight: 600;
}

@media (max-width: 699px) {
	#wrapper1 {
		margin: 0em auto;
	}
}

#wrapper {
	margin: 1em auto;
	max-width: 1200px;
}

#main {
	background: pink;
	margin: 1em;
	padding: 1em;
}

#header {
	background: lightgrey;
	
}

#header p {
	color: black;
	text-align: center;
	border: 3px solid black;
}

#linkbar {
	background-image: url(../images/girlanddog.jpg);
	background-size: cover;
	background-position: center;
	padding: 100px;
}

#logo h1 {
	color: white;
	text-align: center;
	padding: 2em 2em;
	margin: 1em;
}

#logo img {
	width: 25%;
	height: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
}

nav {
	width: 100%;
	height: 50px;
}

ul {
	margin-left: 4em;
}

ul li {
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 50px;
}

ul li a {
	transition: all .3s ease-in;
	display: block;
	text-decoration: none;
	font-size: 20px;
	font-family: Roboto;
	color: rgb(128, 29, 66);
	padding: 0 20px;

}

ul li a:hover {
	color: white;
}

/*Project 1*/

@media (max-width: 699px) {
	#wrapper1 {
		margin: 0em auto;
	}
}


#wrapper1 {
	margin: 1em auto;
	max-width: 1200px;
}

#project1header {
	background: rgba(128, 29, 66);
	margin: 3em;
	padding: 3em;
}

#project1 h2, p {
	color: white;
	text-align: center;
	padding: 0;
	margin: 1em;
}

#content1 img {
	width: 100%;
	height: auto;
}


/*Project 2*/

@media (max-width: 699px) {
	#wrapper2 {
		margin: 0em auto;
	}
}

#wrapper2 {
	height: auto;
	margin: 1em auto;
	max-width: 1200px;
}

#project2header {
	background: rgba(128, 29, 66);
	height: 1800px;
	margin: 2em;
	padding: 2em;
}

#project2 {
	width: 100%;
	height: 60%;
}

.project2comment h3 {
	font-family: 'Noto Serif JP', serif;
	font-weight: 900;
	color: white;
	text-align: center;
	margin: 2em;
}

.project2comment h4 {
	font-family: 'Noto Serif JP', serif;
	font-weight: 900;
	color: white;
	text-align: left;
	margin-left: 4em;
}

.project2comment h5 {
	font-family: 'Noto Serif JP', serif;
	font-weight: 800;
	color: white;
	text-align: left;
	margin-left: 4em;
	margin-right: 4em;
}

.item2 {
	background: rgba(0, 0, 0, 0.5);
	width: relative;
	height: 100px;
	margin-left: 1em;
	margin-right: 1em;
}

.item2 h2, p {
	color: white;
	text-align: center;
	flex: 
	padding: 1em;
	margin: 2em;
}

#project2 .footer2 {
	background: rgba(0, 0, 0, 0.5);
	object-position: bottom;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 75em;
	display: flex;
	align-items: center;
	width: relative;
	height: 400px;
}

#exquisite {
	position: relative;
	margin-bottom: 2em;
	margin-top: 5em;
}

#exquisite .exquisitewrapper {
	width: 100%;
	height: auto;
}

#exquisite .grid {
	grid-gap: 0;
}

#exquisite .grid img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 0;
}


#wrapper3 {
	margin: 1em auto;
	max-width: 1200px;
}

#project3header {
	background: pink;
	margin: 1em;
	padding: 1em;
}

#project3 h2, p {
	color: white;
	text-align: center;
	padding: 0;
	margin: 1em;
}

/* Old Button 
.container3 {
	position: relative;
	width: 100%;
	max-width: 
}

.container3 img {
	width: 100%;
	height: auto;
}

.container .button3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.container .button3:hover {
	background-color: black;
}

Old Button */

.wrapper-explore3 {
	margin: 1em auto;
	max-width: 1200px;
}

.explore3 {
	background: pink;
	margin: 1em;
	padding: 1em;
}

.header-explore3 {
	background: lightgrey;
	
}

.header-explore3 p{
	color: black;
	text-align: center;
	border: 3px solid black;
}

.button3-container {
  	position: relative;
}

.header-explore3 .button3-container img {
	position: absolute;
	width: 100%;
	height: auto;
}

.button3-holder {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button3 {
  	padding: 15px 25px;
  	text-align: center;
  	cursor: pointer;
  	outline: none;
  	color: #fff;
  	background-color: #36384c;
  	border: none;
  	border-radius: 15px;
  	box-shadow: 0 9px #999;
  	text-decoration: none;
}

.button3:hover {
	background-color: #f36f63;
}

.button3:active {
  	background-color: #f7e1dc;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

/* Container needed to position the button. Adjust the width as needed */
/*
.button3-container {
  	position: relative;
  	width: 100%;
  	max-width: 400px;
}

/* Make the image responsive */
/*
.button3-container img {
 	 width: 100%;
 	 height: auto;
 	 display: block;
}

.button3-container{
	position: relative;
}

/* Style the button and place it in the middle of the container/image */
/*
.button3-container .button3 {
  	position: absolute;
  	z-index: 1;
  	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 	background-color: #36384c;
  	color: #f7e1dc;
  	font-size: 16px;
  	padding: 12px 24px;
  	border: none;
  	cursor: pointer;
  	border-radius: 5px;
}

.button3 {
	z-index: 1;
  	padding: 15px 25px;
  	font-size: 24px;
  	text-align: center;
  	cursor: pointer;
  	outline: none;
  	color: #fff;
  	background-color: #36384c;
  	border: none;
  	border-radius: 15px;
  	box-shadow: 0 9px #999;
}

.button3:hover {background-color: #f36f63
}

.button3:active {
  	background-color: #f7e1dc;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}
*/

.item {
	width: 100%;
}

#projects {
	margin-bottom: 2em;
}

#projects .grid-item {
	color: white;
	position: relative;
}

#projects .grid-item img {
	display: block;
	width: 100%;
	height: auto;
}

#projects .grid-item .overlay {
	transition: all .3s ease-in-out;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
	justify-content: center;
}

#projects .grid-item:hover .overlay {
	opacity: 1;

}

#projects .grid-item .overlay .project-title h3 {
	margin-bottom: 0;
	text-align: center;
}