/*stylesheet*/

body {
	margin: 0;
	background-image: url(../images/clounds.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100, 500;

}

/*Page specific stuff*/
body.p1 {

}
/*-----------*/


header {
	margin: 0;
	background: lightgrey;
	color: black;
	font-family: 'Mukta', sans-serif;
	font-weight: 200, 300, 400, 500, 600, 700, 800;
}

h1, h2, h3, h4, h5, p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1 {
	font-family: 'Noto Serif JP', serif;
	font-weight: 500;
	text-align: center;
	color: rgba(128, 29, 66);
}

h2 {
	font-family: 'Noto Serif JP', serif;
	font-weight: 700;
	text-align: center;
}

p {
	font-family: Mukta;
	font-weight: 600;
}

#wrapper {
	margin: 1em auto;
	max-width: 1200px;
}

#main {
	background: pink;
	margin: 1em;
	padding: 1em;
}

#header {
	background: lightgrey;
	
}

#header p {
	color: black;
	text-align: center;
	border: 3px solid black;
}

#linkbar {
	background-image: url(../images/girlanddog.jpg);
	background-size: cover;
	background-position: center;
	padding: 100px;
}

#logo h1 {
	color: white;
	text-align: center;
	padding: 2em 2em;
	margin: 1em;
}

#logo img {
	width: 25%;
	height: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
}

nav {
	width: 100%;
	height: 50px;
}

ul {
	margin-left: 4em;
}

ul li {
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 50px;
}

ul li a {
	transition: all .3s ease-in;
	display: block;
	text-decoration: none;
	font-size: 20px;
	font-family: Roboto;
	color: rgb(128, 29, 66);
	padding: 0 20px;

}

ul li a:hover {
	color: white;
}




#wrapper1 {
	margin: 1em auto;
	max-width: 1200px;
}

#project1header {
	background: rgba(128, 29, 66);
	margin: 3em;
	padding: 3em;
}

#project1 h2, p {
	color: white;
	text-align: center;
	padding: 0;
	margin: 1em;
}

#content1 img {
	width: 100%;
	height: auto;
}


/*Project 2*/

#wrapper2 {
	height: auto;
	margin: 1em auto;
	max-width: 1200px;
}

#project2header {
	background: rgba(128, 29, 66);
	height: 1500px;
	margin: 2em;
	padding: 2em;
}

#project2 {
	width: 100%;
	height: 1100px;
}

.project2comment h3 {
	font-family: 'Noto Serif JP', serif;
	font-weight: 900;
	color: white;
	text-align: center;
	margin: 2em;
}

.project2comment h4 {
	font-family: 'Noto Serif JP', serif;
	font-weight: 900;
	color: white;
	text-align: left;
	margin-left: 4em;
}

.project2comment h5 {
	font-family: 'Noto Serif JP', serif;
	font-weight: 800;
	color: white;
	text-align: left;
	margin-left: 4em;
	margin-right: 4em;
}

.item2 {
	background: rgba(0, 0, 0, 0.5);
	width: relative;
	height: 100px;
	margin-left: 1em;
	margin-right: 1em;
}

.item2 h2, p {
	color: white;
	text-align: center;
	flex: 
	padding: 1em;
	margin: 2em;
}

#project2 .footer2 {
	background: rgba(0, 0, 0, 0.5);
	object-position: bottom;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 58em;
	display: flex;
	align-items: center;
	width: relative;
	height: 400px;
}

#exquisite {
	position: relative;
	margin-bottom: 2em;
	margin-top: 5em;
}

#exquisite .exquisitewrapper {
	width: 100%;
	height: auto;
}

#exquisite .grid {
	grid-gap: 0;
}

#exquisite .grid img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 0;
}


#wrapper3 {
	margin: 1em auto;
	max-width: 1200px;
}

#project3header {
	background: pink;
	margin: 1em;
	padding: 1em;
}

#project3 h2, p {
	color: white;
	text-align: center;
	padding: 0;
	margin: 1em;
}

.item {
	width: 100%;
}

#projects {
	margin-bottom: 2em;
}

#projects .grid-item {
	color: white;
	position: relative;
}

#projects .grid-item img {
	display: block;
	width: 100%;
	height: auto;
}

#projects .grid-item .overlay {
	transition: all .3s ease-in-out;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
	justify-content: center;
}

#projects .grid-item:hover .overlay {
	opacity: 1;

}

#projects .grid-item .overlay .project-title h3 {
	margin-bottom: 0;
	text-align: center;
}